<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ssv.com.mapper.ProfileMapper">
	<resultMap type="Profile" id="profileMapping">

		<id property="id" column="id" />
		<result property="name" column="profile_name" />
		<result property="email" column="profile_email" />
		<result property="phone" column="profile_phone" />
		<result property="age" column="profile_age" />
		<result property="gender" column="profile_gender" />
		<result property="address" column="profile_address" />
		<result property="type" column="profile_type" />
		<result property="avatar" column="profile_avatar" />
		<result property="idTeam" column="id_team" />
		<association property="team">
			<id column="id_team" property="idTeam" />
			<result column="team_name" property="nameTeam" />
			<result column="team_totalmatch" property="totalmatch" />
			<result column="team_totalwin" property="totalwin" />
			<result column="team_type" property="type" />
			<result column="team_description" property="description" />
			<result column="team_logo" property="logo" />
			<result column="id_tour" property="idTour" />
			<result column="tournament_name" property="nameTour" />
		</association>

	</resultMap>

	<insert id="saveProfile" flushCache="true"
		statementType="PREPARED" useGeneratedKeys="true" keyColumn="id"
		keyProperty="id">
		INSERT INTO profile_tbl(
		profile_name,
		profile_email,
		profile_phone,
		profile_age,
		profile_gender,
		profile_address,
		profile_type,
		profile_avatar
		) VALUES(
		#{name},
		#{email},
		#{phone},
		#{age},
		#{gender},
		#{address},
		#{type},
		#{avatar}
		);
	</insert>

	<select id="getMembers" resultMap="profileMapping">
		SELECT p.*, t.*
		FROM
		profile_tbl p
		left JOIN account_tbl a ON p.profile_email =
		a.account_email
		left join team_tbl t on t.id_team = p.id_team
		WHERE account_role = 'ROLE_MEMBER'
	</select>


	<select id="findAllProfile" flushCache="true"
		statementType="PREPARED" resultMap="profileMapping">
		SELECT * FROM profile_tbl left join
		team_tbl on team_tbl.id_team=profile_tbl.id_team

	</select>

	<select id="findByEmail" flushCache="true"
		statementType="PREPARED" resultType="Profile">
		SELECT * FROM profile_tbl WHERE
		profile_email=#{email}
	</select>

	<select id="findById" flushCache="true" statementType="PREPARED"
		resultMap="profileMapping">
		SELECT *
		FROM profile_tbl WHERE id= #{id}
	</select>

	<select id="findAllByTeam" flushCache="true"
		statementType="PREPARED" resultMap="profileMapping">
		SELECT *
		FROM profile_tbl WHERE
		id_team= #{id}
	</select>

	<delete id="deleteProfile" flushCache="true"
		statementType="STATEMENT" parameterType="Integer">
		DELETE FROM profile_tbl WHERE
		id = ${id};
	</delete>

	<select id="findByValue" resultMap="profileMapping">
		SELECT * FROM profile_tbl
		ORDER BY ${value} DESC
	</select>

	<select id="pageProfile" resultMap="profileMapping">
		SELECT * FROM profile_tbl
		Where ${nametype} LIKE #{name} ORDER BY id DESC LIMIT
		#{page},#{pagesize}
	</select>
	<select id="getByIdTeam" resultMap="profileMapping">
		SELECT *FROM profile_tbl Where id_team=${idTeam}
	</select>
</mapper>